<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="customlib.dmi.nitishhhh3.github.com.maven_central_demo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
